@font-face {
  font-family: "Wonderling";
  src: url("../assets/fonts/wonderling/wonderling.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Wonderling";
  src: url("../assets/fonts/wonderling/wonderling-italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}
