:root {
  font-size: medium;

  /* color palette */
  --text-white: #ffffff;
  --book-cover-green: #1d442e;
  --book-cover-light-gold: rgb(255, 207, 64);
  --book-cover-medium-gold: rgb(191, 155, 48);
  --book-cover-dark-gold: rgb(166, 124, 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: "Yrsa", Arial;
  margin: 0;
  padding: 0;
  height: 100vh;
  scrollbar-width: none;
  overflow-x: auto;
  /* overflow: hidden; */
  /* -ms-overflow-style: none; */
}

body {
  background: url("../assets/images/wood-table-background.png") no-repeat left center fixed;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  /* border: 1px solid red; */
}

#book {
  z-index: 2; /* so that the ribbons go behind the book when we hover over them */
  /* border: 1px solid blue; */
}

.page {
  /* size calculated dynamically in app.js */
  background: url("../assets/images/book/page-background.png") no-repeat left center fixed;
  /* border: 1px solid red; */
}

#front-main-page {
  background: url("../assets/images/book/front-cover.svg") no-repeat center center;
  background-size: contain;
}

#back-main-page {
  background: url("../assets/images/book/back-cover.svg") no-repeat center center;
  background-size: contain;
}

.ribbons-container {
  /* size calculated dynamically in app.js */
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0rem;
  padding: 7rem 0;
  transform: scale(1.02); /* fix weird visual bug where ribbons are slightly separated from the book */
}

#left-ribbons {
  /* we flip the whole ribbon container and then we will flip the text back, 
  this way we dont need new images for the mirrored ribbons. note: this probably wont
  be suitable for when we apply more complex styling to the text inside the span, 
  and so we may need to find another solution to flip the ribbon image */
  transform: scaleX(-1);
  .ribbon span {
    display: inline-block;
    transform: scaleX(-1);
  }
}

#right-ribbons {
}

.ribbon {
  /* size calculated dynamically in app.js */
  border: none;
  font-family: inherit;
  /* cursor: pointer; */
  background: url("../assets/images/ribbons/green.svg") no-repeat center center;
  background-size: contain;
  color: var(--text-white);
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  text-align: center;
  padding: 0 2rem 0 0;
  transition: transform 0.15s ease;
  &:hover {
    transform: scale(1.05);
  }
}

.ribbon-map {
  background: url("../assets/images/ribbons/red.svg") no-repeat center center;
  background-size: contain;
}

.ribbon-album {
  background: url("../assets/images/ribbons/blue.svg") no-repeat center center;
  background-size: contain;
}

.ribbon-stats {
  background: url("../assets/images/ribbons/yellow.svg") no-repeat center center;
  background-size: contain;
}
